.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links,
.dropdown {
  margin-left: auto;
}

.appName {
  margin-left: 15px;
  width: var(--sidebar-width);
}
